/* @media (min-width: 1024px) {
    .pc {
      display: block;
    }
  }

  @media (min-width: 740px) and (max-width: 1023px) {
    .tablet {
      display: block;
    }
  } */

/* Tablet & Mobile */
@media (max-width: 63.975em) {
  button {
    padding: 16px 23px !important;
  }

  input {
    padding: 14px 8px !important;
  }

  #nav .subnav a {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #contact .contact-info {
    line-height: 2;
    font-size: 24px;
  }

  .modal .ticket-buy {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* Mobile */
@media (max-width: 46.1875em) {
  .s-full-width {
    width: 100%;
  }
  #header {
    overflow: hidden;
  }

  #nav {
    display: block;
  }
  #nav > li {
    display: block;
  }

  #nav > li:first-child {
    display: inline-block;
  }

  #header #search-btn {
    display: none;
  }

  #nav .subnav {
    position: initial;
    background-color: #333;
  }

  #nav .subnav a {
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #header #mobile-menu-btn {
    padding: 0 23px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    z-index: 99;
  }

  #header #mobile-menu-btn:hover {
    background-color: #cccccc;
  }

  #header #mobile-menu-btn:hover .fa-bars {
    color: black;
  }

  .s-col-full {
    width: 100%;
    margin-top: 30px;
  }

  .s-second-col {
    margin-top: 0px;
  }

  .modal .modal-footer {
  }

  .modal .modal-footer p {
    padding-top: 5px;
  }

  .s-mt-0 {
    margin-top: 0 !important;
  }

  .s-mt-64 {
    margin-top: 64px !important;
  }

  .s-mt-16 {
    margin-top: 16px !important;
  }
  #footer .social-icon > a {
    padding: 10px;
  }

  #footer .social-icon > a > i {
    font-size: 48px !important;
  }

  #footer .social-icon > p {
    font-size: 48px;
  }
}
